<% layout("/layouts/boilerplate") %>
    <style>
        .filters-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
        }

        #filters {
            display: flex;
            overflow-x: auto;
            flex-wrap: nowrap;
            white-space: nowrap;
            scrollbar-width: none;
            flex: 1;
        }

        #filters::-webkit-scrollbar {
            display: none;
        }

        .filter {
            flex: 0 0 auto;
            text-align: center;
            margin-right: 2rem;
            opacity: 0.7;
            text-decoration: none;
            color: black;
        }

        .tax-toggle {
            flex-shrink: 0;
            border: 1px solid black;
            border-radius: 1rem;
            height: 3rem;
            padding: 1rem;
            margin-left: 1rem;
            display: flex;
            align-items: center;
        }

        .filter:hover{
            opacity:1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info {
            display: none;
        }

        @media (max-width: 768px) {
            .filters-container {
                flex-direction: column;
                align-items: stretch;
            }

            .tax-toggle {
                width: auto;        
                margin-top: 1rem;
                margin-left: 0;
                align-self: flex-start;
            }
        }
    </style>

    <div class="filters-container">

    <div id="filters">
        <a href="/listings?category=Trending" class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
        </a>
        <a href="/listings?category=Rooms" class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
        </a>
        <a href="/listings?category=Iconic Cities" class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
        </a>
        <a href="/listings?category=Mountains" class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
        </a>
        <a href="/listings?category=Castles" class="filter">
                <div><i class="fa-solid fa-fort-awesome"></i></div>
                <p>Castles</p>
        </a>
        <a href="/listings?category=Amazing Pools" class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
        </a>
        <a href="/listings?category=Camping" class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
        </a>
        <a href="/listings?category=Farms" class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
        </a>
        <a href="/listings?category=Arctic" class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
        </a>
        <a href="/listings?category=Domes" class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
        </a>
        <a href="/listings?category=Boats" class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
        </a>

    
    </div>
        <div class="tax-toggle mb-3">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>


    <% if(allListings.length === 0) { %>
    <div class="text-center mt-5">
        <h3>No listings found</h3>

        <% if(search) { %>
            <p>No results found for "<%= search %>"</p>
        <% } %>

        <a href="/listings" class="btn btn-dark">
            View All Listings
        </a>
    </div>
    <% } %>

    <% if(allListings.length > 0) { %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b> <br>
                          <%= listing.price.toLocaleString("en-IN") %> / night
                          <i class="tax-info"> &nbsp; &nbsp;+18% GST</i>
                    </p>
                </div>
            </div>
            </a>
        <% } %>
    </div>
    <% } %>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo) {
                if(info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        });
    </script>
